* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url("../assets/Mockery-background.jpg");
  background-size: auto;
}

h1 {
  margin: 25px 0px 0px 0px;
  font-size: 75px;
}

textarea{
  resize: none;
  border: none;
  outline: none;
}

.top {
  text-align: center;
  color: #f2f2f2;
}

.top > p {
  font-size: 30px;
}

.translate-container {
  display: flex;
  width: 100%;
}

.box-alt {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: row;
}

.clipboard{
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  width: 50px;
  border:1px solid #a3a3a3;
  border-radius: 5px;
  cursor: pointer;
}

.boxes {
  width: 100%;
  height: 100%;
  font-size: 30px;
  padding: 10px 10px 10px 15px;
  background: #dadada;
  border-radius: 6px;
}

#out-box {
  cursor: text;
}


/* -------------------------RESPONSIVE---------------------------*/


@media only screen and (max-width: 1000px){
.boxes{
    font-size: 26px;
  }
}

@media only screen and (max-width: 875px){
  .translate-container {
    display: block;
  }

  .box-alt{
    margin: auto;
    width: 85%;
    border: none;
    resize: none;
    outline: none;
  }
}

@media only screen and (max-width: 600px){
  h1{
    font-size: 50px;
    margin: 20px 0px 0px 0px;
  }
  .top > p {
    font-size: 24px;
  }
  .box-alt{
    width: 100%;
    margin: 0 0 -15px 0;
  }
  .boxes{
    max-height: 212px;
    font-size: 22px;
  }
}
